/* COMIENZA PROYECTOS */

.section__index {
    margin-top: 120px;
}

.section__h2 {
    text-align: center;
    font-weight: 800;
}

.btn-primary {

    &:hover {
        border: none;
    }
    &:active {
        background-color: $background-color_2;
    }
}


/* FIN PROYECTOS */