/* COMIENZA QUIÉN SOY */

.main__quiensoy {
	margin-top: 330px;
}
.section__quiensoy {
	margin-top: 120px;
}
.main__div__h2 {
	font-weight: 900;
	font-size: 48px;
	text-align: center;
}
.section__quiensoy__p {
	font-size: 3rem;
	font-weight: 900;
	padding-right: 20%;
}
.main__quiensoy__video {
	margin-top: 100px;
}
.div__main__quiensoy {
	margin-top: 120px;
}
.div__quiensoy__h2 {
	font-weight: 600;
}
.section__quiensoy__h3 {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}
.div__quiensoy__p {
	font-size: 14px;
	padding: 20px;
}
.div__quiensoy__p2 {
	margin-top: 20px;
	font-size: 14px;
}
.section__div__quiensoy {
	margin-top: 80px;
}
.sectiondiv__button {
	text-align: center;
}

/* FIN QUIÉN SOY */