/* PROYECTOS SUB MENÚ*/

.section__estelleythild {
    margin-top: 120px;
}

.main__estelleythild__h1 {
    font-size: 4rem;
    font-weight: 800;
}

.main__estelleythild_img1 {
    width: 15px;
    height: 15px;
}

.maindiv__estelleythild {
    margin-top: 180px;
    padding-right: 20%;
}

.main__estelleythild__h2 {
    font-size: 16px;
}

.sectionh2__estelleythild {
    padding-left: 15%;
    padding-right: 25%;
    font-weight: 700;
}

.sectionp__estelleythild {
    padding-left: 15%;
    padding-right: 25%;
}

.main2__estelleythild {
    margin-top: 120px;
}

.main2div__estelleythild {
    margin-top: 180px;
}

.main2div__estelleythild__h2 {
    font-size: 3rem;
    font-weight: 500;
}

.maindiv__conectados {
    margin-top: 180px;
}

.img__div__conectados {
    width: 38px;
    height: 38px;
}

.div__conectados__p {
    font-size: 14px;
    padding-left: 15%;
    padding-right: 15%;
}

.div__conectados__h2 {
    color: $color_6;
    font-weight: 700;
}

.vector__corazon__conectados {
    width: 14px;
    height: 12px;
}

.section__conectados__h2 {
    font-size: 3rem;
    margin-right: 45%;
}

.section__conectados__p {
    font-size: 14px;
}

.section__conectados__h3 {
    font-size: 24px;
}

.img__div__campus {
    width: 901px;
    height: 201.68px;
}

.section__campus__p {
    font-size: 14px;
    margin-right: 20%;
}

.div__campus__h2 {
    font-size: 18px;
}

.div__campus__p {
    font-size: 12px;
    color: $color_7;
    margin-left: 10%;
    margin-right: 10%;
}

.maindiv__atomicage {
    margin-top: 180px;
    padding-right: 10%;
}

.maindiv__img__atomicage {
    width: 236.5px;
    height: 32px;
}

.main2div__atomicage {
    margin-top: 80px;
}

.sectiondiv__img__yudai {
    position: relative;
    top: 6%;
}