$color_1: #1E1E1E;
$color_2: #089269;
$color_3: #B6A99C;
$color_4: #373F41;
$color_5: #F7F5F5;
$color_6: #5012D5;
$color_7: #909295;
$background-color_1: #F7F5F5;
$background-color_2: #F9BE15;
$background-color_3: #9ACFD1;
$background-color_4: #E8AE2C;